header {
    background-color: #FFFFFF;

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__wrapper {
            padding: 11px 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__link {
            padding-left: 25px;
        }

        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__form {
            display: flex;
            align-items: center;

            .form {

                &__inner {
                    min-width: 670px;
                    width: 100%;
                    padding: 17px 48px;
                    background: #F8FAFD;
                    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
                    border-radius: 30px;
                    position: relative;

                    &::before {
                        content: url(../../images/search.svg);
                        width: 19px;
                        height: 19px;
                        position: absolute;
                        left: 16px;
                        top: 17px;
                    }

                    input {
                        width: 100%;
                        outline: none;
                        border: none;
                        background: transparent;

                        &::placeholder {
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 15px;
                            color: rgba(0, 0, 0, 0.24);
                        }
                    }
                }
            }
        }

        &__right {
            display: flex;
            align-items: center;
            column-gap: 15px;
        }

        &__btn {
            background: #0D75FF;
            border-radius: 4px;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            padding: 10px 23px;
            border: none;
            cursor: pointer;
        }
    }

    .show-out {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    }

    .show {
        padding: 11px 0;

        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__text {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #222531;
        }

        &__select {
            background: #A6B0C3;
            border-radius: 4px;
            padding: 9px 13px 9px 42px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            outline: none;
            border: none;
            cursor: pointer;
            appearance: none;
            position: relative;

            &::after {
                content: url(../../images/order.svg);
                position: absolute;
                background: #000;
                width: 24px;
                height: 24px;
                top: 10px;
                left: 0;
            }
        }
    }
}